<div class="form-horizontal">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            @Html.TextBox("ProductName", null, null, htmlAttributes: new { @class = "form-control", @placeholder = "Product Name" })
            <br />
            @Html.TextBox("ProductId", null, null, htmlAttributes: new { @class = "form-control", @placeholder = "Product Id" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-5">
            <div class="input-group">
                <br />
                <button id="hosNameSearch" type="button" class="btn btn-default" onclick="SearchHos()">
                    <img src="~/images/search-icon.png" alt="">
                </button>
            </div>
        </div>
    </div>
    
</div>
<br />
<div id="ProdDiv" style="display:none">

</div>
<script>
    var approot = "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")";

    function GetProductData(id, name) {

        debugger
        $("#ProductNameToAdd").val(name);
        $("#ProductIdToAdd").val(id);
        $("#ProdModal").modal("toggle");
    }

    $('#ProdModal').on('hidden.bs.modal', function () {
        $("#ProductName").val('');
        $("#ProductId").val('');
        $('#ProdDiv').empty();
    });
    function SearchHos() {
        debugger

        $.ajax({
            type: 'GET',
            url: approot + "/CustomerProdcuts/SearchInProduct",
            data: {
                searchText: $("#ProductName").val(),
                searchId: $("#ProductId").val(),

            },
            success: function (result) {
                debugger
                if (result.length > 0) {
                    var tableDiv = $("#ProdDiv");
                    $("#ProdDiv").css("display", "block");
                    var table = '<table class="table table-striped" id ="hosDatatable"><thead><tr><th>الكود</th><th>اسم المستشفى</th><th></th></thead><tbody>';
                    for (var i in result) {
                        table += "<tr><td>" + result[i].ID + "</td><td>" + result[i].NAME + "</td>";
                        var CustomerId = result[i].RealId;
                        var CustomerName = result[i].NAME;
                        var link = '<input type="button" class="btn btn-primary btn-xs" value=' + "اختر" + ' onClick="GetProductData(' + CustomerId + ',\'' + CustomerName + '\')"/>'; //add \' to read string parameter in link
                        table += '<td style="text-align:center;">' + link + "</td></tr>";
                    }
                    table += "</tbody></table>";
                    tableDiv.html(table);
                    $("table").addClass("table table-striped table-bordered");
                }
                else {
                    $("#ProdDiv").html("");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "request failed");
            }

        });
    }
</script>
